.alert-modal {
  background-color: #FFFAEF;
  padding: 10px;
  font-family: 'Alegreya', serif;
  font-size: 18px;
  border-radius: 10px;
}

.close-alert {
  background-color: transparent;
  border: none;
  color: #B92227;
}

.row {
  display:flex;
  flex-direction:row;
}
