.footer-container {
  background-color: #B92227;
  height: 320px;
  margin-top: 100px;
}

.footer-content {
  float: right;
}

.footer-content h3,
.footer-content p,
.footer-content a {
  margin: 0;
  margin-right: 16vw;
}

.footer-content h3 {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 28px;
  width: 160px;
  color: white;
}

.footer-content p,
.footer-content a {
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
  display: block;
}

.copyright {
  padding-top: 60px;
}

.social-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

// MEDIA QUERIES
@media (max-width: 768px) {
  .footer-content {
    float: left;
  }
  .footer-content h3,
  .footer-content p,
  .footer-content a {
    margin: 0;
    margin-left: 8vw;
  }
}
