.hero-image {
  background-image: url('../images/hero-image.jpeg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallery-container {
  width: 80vw;
  font-family: 'Alegreya', serif;
  padding-left: 20%;
}

.logo-name {
  margin-top: 80px;
  font-size: 60px;
}

.shop-now-btn {
  position: relative;
  border: 0;
  padding: 10px 25px;
  display: inline-block;
  text-align: center;
  color: white;
  background-color: #B92227;
  font-family: 'Alegreya', serif;
  font-size: 18px;
}

.featured-product {
  margin-bottom: 50px;
}

.featured-product h2 {
  font-size: 48px;
}

.featured-product h3 {
  font-size: 30px;
}

.featured-product h2,
.featured-product h3,
.featured-product button {
  margin: 10px;
}

.featured-image {
  width: 60%;
  margin-top: 50px;
}

.featured-column1 {
  padding-top: 250px;
  padding-left: 80px;
  float: left;
  width: 30%;
}

.featured-column2 {
  float: right;
}

.featured-product:after, .gallery-items-row:after {
  content: "";
  display: table;
  clear: both;
}

.gallery-items-column {
  float: left;
  text-align: center;
  width: 33.33%;
  margin-bottom: 50px;
}

.gallery-item-image {
  width: 66.66%;
  margin: 0 auto;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.gallery-item-image:hover {
  opacity: 0.5;
  cursor: pointer;
}

hr {
  margin-block-start: 0;
  margin-block-end: 50px;
  width: 89%;
}
