.home-container {
  margin-top: 56px;
  font-family: 'Alegreya', serif;
}

// html {
//   background-color: #fbf7ed;
// }

.home-image {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.home-image:hover {
  opacity: 0.5;
  cursor: pointer;
}

h1 {
  margin: 0;
  padding-top: 80px;
  margin-left: 50px;
  font-size: 64px;
  color: #B92227;
}

h2 {
  margin-left: 50px;
}

.shop-now-btn {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
}

// .hero-image {
//   background-image: url('../images/hero-image.jpeg');
//   height: 100vh;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 50%;
// }

#columns {
	column-width: 320px;
	column-gap: 30px;
  width: 90%;
	max-width: 1100px;
  margin: 50px auto;
  margin-top: 60px;
  margin-right: 60px;
  margin-left: 0;
}

div#columns img {
  width: 100%;
  height: auto;
  margin: 0 0 25px;
  display: inline-block;
}

@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}
