.toolbar {
  position: fixed;
  width: 100%;
  background: transparent;
  height: 56px;
  top: 0;
  left: 0;
  transition: all 0.5s
}

.toolbar.scrolled {
  background: gray;
  transition: all 0.5s
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: 2vw;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items a {
  color: #B92227;
  text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: orange;
}

// MEDIA QUERIES
@media (max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
}
