.nav-container {
  width: 20%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.nav-links {
  list-style: none;
  padding-inline-start: 0;
  width: 30%;
  margin: auto;
  // font-family: 'Alegreya', serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 15%;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-links li {
  margin: 0 0 20px 0;
}

// .logo {
//   display: block;
//   margin: auto;
//   padding-top: 60px;
//   padding-bottom: 60px;
//   width: 10rem;
// }

.active li{
  color: #B92227;
  text-decoration: underline;
}

.wrapper {
  display: flex;
}

.copyright {
  padding-top: 50px;
  font-size: 12px;
  display: block;
  margin: auto;
  color: grey;
  align-self: flex-end;
}

.logo {
  width: 100%;
}
