.toolbar {
  font-family: 'Alegreya', serif;
  position: fixed;
  width: 100%;
  background: #FFFAEF;
  // height: 56px;
  // top: 0;
  top: -50px;
  left: 0;
  transition: all 0.5s;
  // transition: visibility 0s, opacity 0.5s linear;
  z-index: 1000;
  font-size: 22px;
  // opacity: 0;
}

.toolbar.scrolled {
  // opacity: 1;
  height: 56px;
  top: 0;
}

.toolbar__logo {
  opacity: 1;
  color: #B92227;
  font-size: 32px;
  font-weight: 500;
  // transition: visibility 0s, opacity 0.5s linear;
}

// .toolbar__logo.scrolled {
//   opacity: 1;
//   color: #B92227;
//   z-index: 500;
// }

.cart-toolbar__logo {
  color: #B92227;
  z-index: 500;
  font-size: 32px;
  font-weight: 500;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  // padding-left: 1rem;
  padding: 0 1rem;
}

.toolbar__navigation a {
  text-decoration: none;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  // padding-right: 2vw;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items a {
  color: #B92227;
  text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #696969;
}

.cart-icon {
  padding-top: 5px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

// .checkout-btn {
//   display: inline-block;
// }

.toolbar__toggle-button {
  display: none;
}

span.step {
  background: #B92227;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-left: 1px;
  text-align: center;
  font-size: 14px;
  width: 1.6em;
  vertical-align: top
}

// MEDIA QUERIES
@media (max-width: 768px) {
  .toolbar {
    height: 56px;
    top: 0;
  }
  .toolbar__logo {
    opacity: 1;
    font-size: 30px;
    font-weight: 500;
  }
  .cart-toolbar__logo {
    font-size: 30px;
  }
  .checkout-btn {
    display: none;
  }
}

@media (max-width: 360px) {
  .cart-toolbar__logo {
    font-size: 28px;
  }
  .toolbar__logo {
    font-size: 28px;
  }
}

// @media (min-width: 769px) {
//   .toolbar__toggle-button {
//     display: none;
//   }
// }
